<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
    <meta name="author" content="Scott Deming"/>
		<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
		<title>{{ page.title }}</title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="/css/less2.css"/>
		<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>-->
	</head>

	<body>

    <div class="content">
      {{ content }}
    </div>

	</body>
	
</html>
